// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#letters {
  display: inline-block;
  background-color: red;
  padding: 10px;
  color: white;
  font-weight: bold;
  box-shadow: inset 0 0 1em gold, 0 0 1em red;;
  margin-right: 16px;
}

#input-word{
  width: 30%;
}
